.itemCard {
    border: 1px solid black;
    border-radius: 15px;
}

.header {
    padding: 75px;
    border: 2px solid black;
}

.card-container {
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.filter {
 margin: 10px;
}

form {
    padding: 20px;
    /* display: flex;
    justify-content: center; */

}

label {
    padding: 200px;
}

select {
    margin: 10px;
}

.builds {
    border: 2px solid black;
    border-radius: 10px;
    color: blue;
    background-color: red;
    padding: 2px;
}
